@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./css/logo.css";

@layer base {
  :root {
    --logo-color-text: #6eccee;
    --logo-color-triangle: #f672ca;
  }

  .dark {
    --logo-color-text: #f672ca;
    --logo-color-triangle: #6eccee;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans;
  }

  h1 {
    @apply text-5xl xl:text-7xl;
  }

  h2 {
    @apply text-3xl md:text-6xl;
  }

  h4 {
    @apply text-4xl;
  }
}
